{% extends "home/base.html" %}
{% load static %}
{% block title %}Tumcathcom Gallery Videos{% endblock %}
{% block metadescription %}Tumcathcom youtube videos{% endblock %}
{% block metakeywords %}'tumcathcom youtube, 'tumcathcom videos', 'tum yca youtube videos' {% endblock %}

{% block content %}

  <!-- ======= Youtube videos Section ======= -->
  <section class="portfolio" id="solar-energy">
    <div class="container">
      <h1 class="text-center text-danger pt-4 font-30">Gallery Videos</h1><hr>
      <p></p>
      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" 
            src="https://www.youtube.com/embed/YlgU-8KddrA"
              allowfullscreen>
            </iframe>
            <div class="portfolio-info">              
              <p class="text-success">St Francis - Tumcathcom St Francis of Assis</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" src="https://www.youtube.com/embed/WngaUifQ1tQ" title="TUMCATHCOM CHOIR VOL 2 OFFICIAL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <div class="portfolio-info">
              <p class="text-success">TUMCATHCOM CHOIR VOL 2 OFFICIAL.</p>
            </div>
          </div>
        </div>   

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" src="https://www.youtube.com/embed/yre25nAQDig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <div class="portfolio-info">
              <p class="text-success">Ni Gikeno na Nduhiu - Tumcathcom St Francis Of Assis.</p>
            </div>
          </div>
        </div>   
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" 
            src="https://www.youtube.com/embed/5wYIjOLCta8" 
            title="Tumcathcom choir performs &quot;TIKETI YA MBINGUNI&quot; at St Mathias Mulumba Mikindani parish" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>

            <div class="portfolio-info">              
              <p class="text-success">Tumcathcom choir performs "TIKETI YA MBINGUNI" at St Mathias Mulumba Mikindani parish</p>
            </div>
          </div>
        </div>                 

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" 
            src="https://www.youtube.com/embed/0gfH9x7vv0g"
              allowfullscreen>
            </iframe>

            <div class="portfolio-info">              
              <p class="text-success">Tumcathcom Class of 2023</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" src="https://www.youtube.com/embed/L65uORirQs4" title="CHARITY DRIVE @ KIZIWI BY TUMCATHCOM STUDENTS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <div class="portfolio-info">              
              <p class="text-success">CHARITY DRIVE @ KIZIWI BY TUMCATHCOM STUDENTS</p>
            </div>
          </div>
        </div>  

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" src="https://www.youtube.com/embed/ywRAPYiIAWk" title="Tumcathcom Choir Animates mass at St  Joseph Tudor-Mombasa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <div class="portfolio-info">              
              <p class="text-success">Tumcathcom Choir Animates mass at St Joseph Tudor-Mombasa</p>
            </div>
          </div>
        </div>  

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" src="https://www.youtube.com/embed/BVd-lfh1ROM" title="4 TUM CATHOLIC COMMUNITY GRADUATES JOIN SEMINARY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <div class="portfolio-info">              
              <p class="text-success">4 TUM CATHOLIC COMMUNITY GRADUATES JOIN SEMINARY</p>
            </div>
          </div>
        </div>  

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <iframe width="100%" height="250px" src="https://www.youtube.com/embed/meSOlHlpiuM" title="1st Sunday of Lent ✝️;such a powerful 🙏 and touching 😲 sermon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <div class="portfolio-info">              
              <p class="text-success">1st Sunday of Lent ✝️;such a powerful 🙏 and touching 😲 sermon</p>
            </div>
          </div>
        </div>  

      </div>
    </div>
  </section><!-- End Youtube videos section -->

 {% endblock %}