
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reset Password</title>
  <meta name="robots" content="no-index,no-follow">

  <!-- Favicons -->
  <link href="{% static 'assets/img/tum-logo.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/tum-logo.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'assets/css/create-account-login.css' %}">
</head>
<body>
<div id="id01" class="modol mt-4">
  <form class="modal-content1 animate" action="{% url 'password-reset' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="imgcontainer">
      <!-- <h3>Student Portal</h3> -->
      <span title="Close Modal"><a style="font-size: 40px; float: right; margin: -20px 10px 0 0; 
      text-decoration: none; font-weight:bold;" href="{% url 'login' %}">&times;</a></span>
      <img src="{% static 'assets/img/tum-logo.jpg' %}" alt="Avatar" class="avatar"><br>
      <p>Enter your email to Reset your password <br>
        If your email is registered with us, <br>
          <span class="tum-color"><b>a link will be sent</b></span> to your email <br>
         with instructions.

      </p>
      <span style="color: red; font-weight:bold;">{{msg}}</span>
      {% for message in messages %}
      <span style="color: red; font-weight:bold;">{{message}}</span>
      {% endfor %}
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required autofocus="on" >
    </div>
    <button type="submit">Request Reset Link</button>
  </form>
</div>
</body>
</html>

