{% extends "voting/base.html" %}
{% load static %}
{% block title %}Voting SCC Leaders {% endblock %}

{% block content %}

    <div>
        <h2 class="text-center text-danger">{{user.family}} Leaders</h2><hr>
    </div>
    <div class="row" id="chairperson" style="border-bottom: solid 3px rgb(224, 17, 17);">  
    {% for message in messages %}
        <span style="color: red; font-weight:bold;text-align: center;">{{message}}</span>
    {% endfor %}      
           
        {% for cadidate in cadidates %} 
        {% if cadidate.post.id == 1 %}
        {% if cadidate.family.family_name == user.family %}          
           <div class="col-md-4 text-center">
               <hr><h3 class="text-center p-2 btn btn-cyan">{{cadidate.post|capfirst}}</h3>
               <p>
                   <p class="font-20">{{cadidate.cadidate_name|capfirst}}</p>
                   <img src="/media/{{cadidate.cadidate_photo}}" width="200px" alt="image">
                   <br>             
                   <form action="{% url 'add-scc-leaders-vote' %}#chairperson" method="POST" onSubmit="if(!confirm('Are you sure you want to vote for {{cadidate.cadidate_name}} as the {{cadidate.post}}? you will not be able to vote again for this post after submiting.')){return false;}">
                       {% csrf_token %}                                 
                       <button class="btn btn-success m-2" type="submit" name="vote" value="{{cadidate.id}}">Vote</button>
                   </form>
               </p>
            </div>  
        {% endif %}
        {% endif %}
        {% endfor %}       
       
    </div><br> <br>         
       
    <div class="row" id="chairperson" style="border-bottom: solid 3px rgb(224, 17, 17);">  
       {% for cadidate in cadidates %}
       {% if cadidate.post.id == 2 %}
       {% if cadidate.family.family_name == user.family %}    
       <div class="col-md-4 text-center">
           <hr><h3 class="text-center p-2 btn btn-cyan">{{cadidate.post|capfirst}}</h3>
           <p>
               <p class="font-20">{{cadidate.cadidate_name|capfirst}}</p>
               <img src="/media/{{cadidate.cadidate_photo}}" width="200px" alt="image">
               <br>             
               <form action="{% url 'add-scc-leaders-vote' %}#chairperson" method="POST" onSubmit="if(!confirm('Are you sure you want to vote for {{cadidate.cadidate_name}} as the {{cadidate.post}}? you will not be able to vote again for this post after submiting.')){return false;}">
                   {% csrf_token %}                                 
                   <button class="btn btn-success m-2" type="submit" name="vote" value="{{cadidate.id}}">Vote</button>
               </form>
           </p>
       </div> 
       {% endif %}
       {% endif %} 
       {% endfor %}       
   
   </div><br> <br>

   <div class="row" id="project-manager" style="border-bottom: solid 3px rgb(224, 17, 17);">   
   
        {% for cadidate in cadidates %}
        {% if cadidate.post.id == 3 %}
        {% if cadidate.family.family_name == user.family %}    
        <div class="col-md-4 text-center">
            <hr><h3 class="text-center p-2 btn btn-cyan">{{cadidate.post|capfirst}}</h3>
            <p>
                <p class="font-20">{{cadidate.cadidate_name|capfirst}}</p>
                <img src="/media/{{cadidate.cadidate_photo}}" width="200px" alt="image">
                <br>             
                <form action="{% url 'add-scc-leaders-vote' %}#project-manager" method="POST" onSubmit="if(!confirm('Are you sure you want to vote for {{cadidate.cadidate_name}} as the {{cadidate.post}}? you will not be able to vote again for this post after submiting.')){return false;}">
                    {% csrf_token %}                                 
                    <button class="btn btn-success m-2" type="submit" name="vote" value="{{cadidate.id}}" >Vote</button>
                </form>
            </p>                
        </div>  
        {% endif %}
        {% endif %}
        {% endfor %}       

    </div><br> <br>

    

</body>
</html>

{% endblock %}