
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Change Password</title>
  <meta name="robots" content="no-index,no-follow">

  <!-- Favicons -->
  <link href="{% static 'assets/img/tum-logo.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/tum-logo.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'assets/css/create-account-login.css' %}">
</head>
<body>
<div id="id01" class="modol mt-4">
  <form class="modal-content1 animate" action="{% url 'password-reset-otcp' profile.otcp %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="imgcontainer">
      <!-- <h3>Student Portal</h3> -->
      <!-- <span title="Close Modal"><a style="font-size: 40px; float: right; margin: -20px 10px 0 0; text-decoration: none; font-weight:bold;" href="/">&times;</a></span> -->
      <img src="{% static 'assets/img/tum-logo.jpg' %}" alt="Avatar" class="avatar"><br>
      <p>Please enter your new password</p>
      <span style="color: red; font-weight:bold;">{{msg}}</span>
      {% for message in messages %}
      <span style="color: red; font-weight:bold;">{{message}}</span>
      {% endfor %}
    </div>
    <div class="container">
      <label for="password"><b>New password</b></label>
      <input type="password" placeholder="Enter new password" name="new_pswd" required autofocus="on" >
    </div>
    <div class="container">
      <label for="password"><b>Confirm password</b></label>
      <input type="password" placeholder="Confirm password" name="confirm_pswd" required >
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>
</body>
</html>

