{%  extends 'adminportal/base.html' %}   
{% load static %}
{% block title %}Members{% endblock %}


 {% block content %} 
      <div class="page-wrapper">
        
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Members</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <span style="color: red; font-weight:bold;">{{msg}}</span>  
        </div><hr>
        
          <div class="row">
            <!-- column -->
            <div class="col-lg-12">                                                  
                <div class="px-4">
                  <p><img src="/media/{{user.photo}}" alt="photo" width="50px" style="border-radius: 50%;">
                     <span class="px-3">{{user.first_name}}</span><span class="px-3">{{user.last_name}}</span>
                     <span class="px-3">{{user.sir_name}}</span>                       
                        <a onclick="if(!confirm('Are you sure that you want to delete this member?')){return false;}" href="{% url 'delete-member' user.id %}">Delete</a></span>
                     
                    </p> <hr>                                         
                </div>
            </div>
            </div>
            <div class="row text-center">
                <div class=" col-md-12">
                    <div class="card">
                        <div class="card-body profile-card">
                            <center class="mt-4">                         
                                <img src="/media/{{user.photo}}" alt="photo"
                                     width="200px" />                                    
                                <h4 class="card-title mt-2">{{user.first_name}} {{user.last_name}}</h4>
                                <h6 class="card-subtitle">{{user.family}}</h6>                                  
                                <h6 class="card-subtitle">{{user.gender}}</h6>  
                                
                            </center>                                
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-xlg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">                               
                            <form class="form-horizontal form-material mx-2" action="#" method="POST">
                            {% csrf_token %}
                            
                            <div class="row">
                                
                                <div class="col-md-6 form-group">
                                    <label class="mb-0">First Name</label>
                                    <div class="">
                                        <input type="text" name = "fname" value="{{user.first_name}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class=" mb-0">Middle Name</label>
                                    <div class="">
                                        <input type="text" name = "mname" value="{{user.last_name}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="mb-0">Last Name</label>
                                    <div class="">
                                        <input type="text" name = "sname" value="{{user.sir_name}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="example-email" class="">Email</label>
                                    <div class="">
                                        <input type="email" name ="email" value="{{user.email}}"
                                            class="form-control ps-0 form-control-line"
                                            id="example-email" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="mb-0">Phone No</label>
                                    <div class="">
                                        <input type="tel" name = "phone" value="{{user.phone}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="mb-0">Id Number</label>
                                    <div class="">
                                        <input type="tel" name ="id_number" value="{{user.id_number}}"
                                            class="form-control ps-0 form-control-line p-4" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Reg No</label>
                                    <div class="border-bottom">
                                        <input type="text" name = "regno" value="{{user.regno}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6 border-bottom form-group">
                                    <label class="pl-4" for="year">Year of Study:</label>
                                    <div class="border-bottom">
                                        <input type="text" name = "regno" value="{{user.year_of_study}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>                           
                                </div><hr>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Family:</label>
                                    <div class="border-bottom">
                                        <input type="text" name = "regno" value="{{user.family}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6 border-bottom form-group">
                                    <label class="pl-4" for="year">Department:</label>
                                    <div class="border-bottom">
                                        <input type="text" name = "regno" value="{{user.department}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>                           
                                </div><hr>
                            </div>                                
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label class="">Course Title</label>
                                    <div class="border-bottom">
                                        <input type="text" name = "course_name" value="{{user.course_title}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Course Name</label>
                                    <div class="border-bottom">
                                        <input type="text" name = "course_name" value="{{user.course_name}}"
                                            class="form-control ps-0 form-control-line" disabled>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    <div class="col-sm-12 d-flex">
                                        <button onclick="if(!confirm('Are you sure that you want to delete this member?')){return false;}" type="submit" style="background-color: rgb(131, 10, 10);"
                                         class="btn mx-auto mx-md-0 text-white">
                                         <a class="text-white" href="{% url 'delete-member' user.id %}">Delete Member</a></button>
                                        {% if user.is_approved == False and user.has_request == True %}
                                         <button onclick="if(!confirm('Are you sure that you want to approve this member?')){return false;}" type="submit" style="background-color: rgb(8, 173, 63);"
                                         class="btn mx-auto mx-md-0 text-white ">
                                         <a class="text-white" href="{% url 'approve' user.id %}">Approve Member</a></button>
                                        {% elif user.is_approved == False and user.has_request == False %}
                                        <div></div>                                        
                                        {% else %}
                                        <button onclick="if(!confirm('Are you sure that you want to unapprove this member?')){return false;}" type="submit" style="background-color: rgb(8, 173, 63);"
                                        class="btn mx-auto mx-md-0 text-white ">
                                        <a class="text-white" href="{% url 'unapprove' user.id %}">Unapprove Member</a></button>
                                        {% endif %}
                                        </div>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->
        
     
        </div>

    {% endblock %}
      
        